*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-t{
    position: absolute;
    width: 450px;
    height: 150px;
    border: 2px solid black;
    padding: 15px;
    margin-top: 25px;
    left: -1px;
    visibility: hidden;
    background-color: rgb(250, 250, 247);
}
.ol{
    position: relative;
}
.ul-post ,.ul-post2 ,.ul-post3{
    position: absolute;
    width: 100px;
    color: #eb7385;
    /* background-color: rgb(76, 79, 79); */
    list-style: none;
    font-size: 20px;
}
.ul-post2{ margin-left: 150px;}
.ul-post3{ margin-left: 300px;}
.post-t  a{
    border-bottom: 2px dotted black;
    text-decoration: none;
    color: #9a1d30;
}
.post-t{
  padding-bottom: 8px;
}

.ol:hover .div-t{
    visibility: visible;
}





























.ul-sec1 > li::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid #ff6b81;
    /* text-align: center; */
    transform-origin: left;
    transition: 1s;
    padding-top: 5px;
    border-top: transparent;
    border-bottom: transparent;
    transition: 0.5s;
    /* transform-origin: center; */
    transform: scaley(0);
   /* display: border; */
   position: absolute;
   /* position: relative; */
   
}
.ul-sec1 > li:hover::before{
    transform: scaley(1);
}

.ul-sec1 > li::after{
    content: "";
    width: 100%;
    height: 100%;
    padding: 0 1px;
    top: 0;
    left: 0;
    border: 2px solid #ff6b81;
    /* text-align: center; */
    transform-origin: left;
    transition: 1s;
    padding-top: 4px;
    border-left: transparent;
    border-right: transparent;
    transition: 0.5s;
    /* transform-origin: center; */
    transform: scalex(0);
   /* display: border; */
   position: absolute;
   /* position: relative; */
   
}
.ul-sec1 > li:hover::after{
    transform: scalex(1);
}
 .img-sec1{
    margin: 10px 150px;
    height: 80px;
    width: 80px;
 }
.sec1{
    width: 1220px;
    margin: 0px 150px;
    height: 800px;
    background-repeat:repeat-x;
    background-image:url(../images/longerpinkdrip1160x871.jpg);
}
.img2-sec1{
    position: absolute;
    left: 875px;
    height: 460px;
    top: 160px;
}
.img3-sec1{
    position: absolute;
    height: 60px;
    margin: 40px -250px;
}
.img4-sec1{
    position: absolute;
    height: 100px;
    margin: 400px -600px;
}
.img5-sec1{
    position: absolute;
    height: 80px;
    margin: 300px -190px;
}

.h2-sec1{
    font-size: 55px;
    color: rgb(151, 20, 31);
    /* font-weight: 900; */
        font-family: "Great Vibes", cursive;
        font-weight: 800;
        font-size: 78px;
    padding: 120px 50px;
}
.button1{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    bottom: 230px;
    margin:0px 50px;
    background-color: rgb(143, 19, 44);
    color: aliceblue;
    font-size: larger;
}
.ul-sec1> li{
    list-style: none;
    margin: 0 25px;
    float: left;
    position: relative;
    /* transform-origin: center; */
    left: 330px;
    bottom: 75px;
    font-weight: 550;
    font-size: x-large;
    padding: 8px 8px;
    color: rgb(151, 20, 31);
}

/*  */
.icons1 i{
    float: left;
    position: relative;
    left: 350px;
    right: 100px;
    margin-left: 20px;
    font-size: xx-large;
    bottom: 75px;
    color: rgb(151, 20, 31);
}
.div0{
    width: 25px;
    height: 25px;
    color: aliceblue;
    position: absolute;
    text-align: center;
    font-size: large;
    padding-top: 2px;
    top: 50px;
    left: 1280px;
    border-radius: 50%;
    background-color: rgb(133, 19, 19);
}
.span-sec1{
   font-size: large;
   font-weight: 600;
   padding-left: 360px;
   float: left;
   margin-top: -70px;
}
.h2-sec2{
    font-size: 55px;
    color: #ff6b81;
    /* font-weight: 900; */
    font-family: "Lobster Two", sans-serif;
        font-weight: 500;
        margin-top: -100px;
        font-size: 55px;
        text-align: center;
}
.hr1{
    width: 100px;
    height: 4px;
    background-color: black;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
    transition: 0.5s;
}
.hr1:hover{
    width: 180px;
}
.desert1 img{
   margin: -30px -50px;
   margin: 50px 150px;
   width: 290px;
    height: 270px;
    border-radius: 12px;
}
.desert2 img{
    width: 290px;
    height: 270px;
    float: left;
    margin: -320px 460px;
    border-radius: 12px;
}
.desert3 img{
    width: 290px;
    height: 270px;
    float: left;
    margin: -320px 770px;
    border-radius: 12px;
}
.desert4 img{
    width: 290px;
    height: 270px;
    float: left;
    margin: -320px 1080px;
    border-radius: 12px;
}
#right{
    width: 30px;
    height: 30px;
    background-color: #9a1d30;
    color: #f8f6f6;
    text-align: center;
    font-size: x-large;
    padding-top: 3px;
    position: absolute;
    margin-left: 260px;
    margin-top: -37px;
   visibility: hidden;
}
.para-sec2:hover #right{
    visibility: visible;
}
.para2-sec2:hover #right{
    visibility: visible;
}
.para3-sec2:hover #right{
    visibility: visible;
}
.para4-sec2:hover #right{
    visibility: visible;
}
.para-sec2{
    margin:  -34px 150px;
}
.h3-sec2{
    color:#ff6b81;
    font-family: "Lobster Two", sans-serif;
    position: relative;
    font-size: 45px;
    font-size: x-large;
}
.p1-sec2{
    font-size: 25px;
    font-weight: 500;
}
.para2-sec2{
    margin: -60px 460px;
}
.para3-sec2{
    margin-left: 770px;
}
.para4-sec2{
    /* margin: -60px 1100px; */
    position: absolute;
    left: 1080px;
    bottom: -567px;
}
.sec3{
    width: 600px;
    height: 320px;
    background-color: rgb(246, 246, 246);
    margin: 70px 150px;
}
#icons2{
    font-size: 45px;
    margin: 20px 20px;
    color: #9a1d30;
    float: left;
}
.h3-sec3 , .h2-sec3{
    margin-left: 70px;
}
.h2-sec3{
    padding-top: 20px;
    font-size: 35px;
    font-weight: 700;
}
.p-sec3{
    word-spacing: 7px;
    font-size:20px ;
    color: rgb(152, 31, 53);
    padding: 20px 30px;
    
}
/* .hr3{
    margin: 0px 400px;

} */
.hr4 ,.hr5 ,.hr6{
    width: 70px;
    height: 4px;
    background-color: #9a1d30;
    margin: 8px 400px;
}
.hr5{
    margin-left: 480px;
    margin-top: -12px;
}
.hr6{
    margin-left: 320px;
    margin-top: -12px;
}
.img-sec3 {
    float: left;
    margin: 70px 790px;
    margin-top: -390px;
}
.img2-sec3 {
    float: left;
    margin: 70px 1100px;
    margin-top: -390px;
}
.img-sec3:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.img2-sec3:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.sec4{
    font-size: 40px;
    margin: 0px -250px;
    margin-left: 150px;
    text-align: center;
    display: flex;
    position: absolute;
  
}
.spese{
    height: 60px;
    width: 60px;
    background-size: cover;
    background-image: url(../images/photo2.jpg);
    /* background-position: top; */
    transition: 1s;
   margin:0 95px;
}
.spese:hover{
  background-position: bottom;
}
.sec4 .contact1{
    margin: 0px -250px;
    margin-top: 10px;
    margin-left: -250px;
  
}
.spese2{
    height: 60px;
    width: 60px;
    background-size: cover;
    background-image: url(../images/photo4.jpg);
    /* background-position: top; */
    transition: 1s;
   margin:0 95px;
}
.spese2:hover{
  background-position: bottom;
}
.contact2{
    margin: 0px -250px;
    margin-top: 10px;
}
.spese3{
    height: 60px;
    width: 60px;
    background-size: cover;
    background-image: url(../images/photo5.jpg);
    /* background-position: top; */
    transition: 1s;
   margin:0 95px;
}
.spese3:hover{
  background-position: bottom;
}
.contact3{
    margin: 0px -250px;
    margin-top: 10px;
}
.spese4{
    height: 60px;
    width: 60px;
    background-size: cover;
    background-image: url(../images/photo6.jpg);
    /* background-position: top; */
    transition: 1s;
   margin:0 95px;
}
.spese4:hover{
  background-position: bottom;
}
.contact4{
    margin: 0px -250px;
    margin-top: 10px;
}
.spese5{
    height: 60px;
    width: 60px;
    background-size: cover;
    background-image: url(../images/photoac.jpg);
    /* background-position: top; */
    transition: 1s;
   margin:0 95px;
}
.spese5:hover{
  background-position: bottom;
}
.contact5{
    margin: 0px -250px;
    margin-top: 10px;
}
.div-icon1 ,.div2-icon1 ,.div3-icon1 ,.div4-icon1{
    border-right: 2px solid black;
    /* position: relative; */
}
.h3-sec4{
    font-size: x-large;
    padding: 0 55px;
    /* position: relative; */
    /* margin-left: 60px; */
}
.h4-sec4{
    font-size: large;
    color: #9a1d30;
}
.hr-sec4{
    margin:  260px 150px 0px;
}
.h2-sec5{
  /* font-family: "Playwrite DE Grund", cursive; */
  font-family: "Lobster Two", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 80px 0 0px;
  font-size: 50px;
}
.hr-sec5{
    width: 100px;
    height: 4px;
   background-color: #eb7385;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
    transition: 0.5s;
}
.hr-sec5:hover{
    width: 180px;
}
.span-sec5{
    font-size: x-large;
    text-align: center;
    margin: 20px 0px;
}
.a1,.a2 ,.a3 ,.a4{
    margin: 50px 40px;
}
/* ==================================================== */
/* .img-sec6{
    width: 400px;
    height: 500px;
    position: relative;
}
.parent1{
    width: 400px;
    height: 500px;
    overflow: auto;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
    margin: 50px 150px;
}
.parent1  ,.front {
    width: 400px;
    height: 500px;
}
.parent1:hover{
    transform: rotateY(180deg);
}
.front{
    z-index: 1;
    backface-visibility: hidden;
}
.front,.back {
    position: absolute;
}
.back{
    width: 0px;
    height: 0px;
    position: absolute;
    transition: 0.5s;
    font-size: 35px;
    transform: scalex(0);
    top: 0;
    left: 0;
}
.icon-sec6{
    width: 50px;
    height: 50px;
    color:#f8f6f6;
    margin: 230px 80px;
}
.img2-sec6{
   width: ;
   height: 100%;
}
.parent1 .back{
    width: 100%;
    height: 100%;
}
#op{
    width: 50px;
    height: 50px;
    z-index: 4;
    position: relative;
    text-align: center;
    padding-top: 7px;
    border: 1px solid #676666;
    background-color: #676666;
} */
.parent1{
    /* background-color: #eb7385; */
    height: 550px;
    align-items: center;
    margin-top: 20px;
    position: relative;
    margin: 50px 150px;
}
.front1 ,.front2 ,.front3 ,.front4 ,.front5 ,.front6{
    /* background-color: bisque; */
    width: 32%;
    height: 100%;
    position: absolute;
}
.parent1 .img-sec6{
    width: 100%;
    height: 450px;
}
.front2{
    left: 413px;
}
.front3{
    left: 825px;
}
.back{
    position: absolute;
    width: 100%;
    height: 450px;
    top: 0;
    left: 0;
    transition: 0.2s;
    transform: scaleX(0);
}
.img2-sec6{
    width: 100%;
    height: 100%;
}
.front1:hover .back{
    transform: scaleX(1);
    opacity: 0.8;
}
.front2:hover .back{
    transform: scaleX(1);
    opacity: 0.8;
}
.front3:hover .back{
    transform: scaleX(1);
    opacity: 0.8;
}
.icon-sec6{
    position: absolute;
    font-size: 40px;
    width: 230px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
#op{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 4px;
    border: 1px solid #676666;
    background-color: #676666;
} 
.parent2{
    /* background-color: #eb7385; */
    height: 550px;
    align-items: center;
    margin-top: 100px;
    position: relative;
    margin: 50px 150px;
}
.parent2 .img-sec6{
    width: 100%;
    height: 450px;
}
.front5{
    left: 413px;
}
.front6{
    left: 825px;
}
.back2{
    position: absolute;
    width: 100%;
    height: 450px;
    top: 0;
    left: 0;
    transition: 0.2s;
    transform: scaleX(0);
}
.img2-sec6{
    width: 100%;
    height: 100%;
}
.front4:hover .back2{
    transform: scaleX(1);
    opacity: 0.8;
}
.front5:hover .back2{
    transform: scaleX(1);
    opacity: 0.8;
}
.front6:hover .back2{
    transform: scaleX(1);
    opacity: 0.8;
}
#iii{
    font-size: x-large;
    color: rgb(238, 207, 50);
    margin: 10px 0 5px;
}
.p-sec5{
    font-size: x-large;
    color: #9a1d30;
}
.h3-sec5{
    font-size: large;
    color: #9a1d30;
}
